*.h5
*.h5*.txt
*.h5*.csv*
*.swp
*.hist
*.pgm
*.csv
hdf5files
.ipynb_checkpoints
Untitled.ipynb
h5ToHist.e*
h5ToHist.o*
submitScripts/convert*.e*
submitScripts/convert*.o*
submitScripts/logs
*.tar.gz
*.pyc
*.nfs*
results/*[Ss]plit*

